<section class="container mt-5">
  <h2 class="text-center">Cart</h2>
  <table class="table">
    <tbody>
      {{#each cartProducts}}
        <tr id="row-{{this.cartProduct._id}}">
          <td><img
              src="/uploads/{{this.cartProduct.image}}"
              alt=""
              width="50px"
            /></td>
          <td>{{this.cartProduct.name}}</td>
          <td>
            <button
              class="btn btn-outline-secondary"
              onclick="changeQuantity('{{this._id}}', '{{this.cartProduct._id}}', 1)"
            >+</button>
            <span
              id="cart-quantity-{{this.cartProduct._id}}"
            >{{this.quantity}}</span>
            <button
              class="btn btn-outline-secondary"
              onclick="changeQuantity('{{this._id}}', '{{this.cartProduct._id}}', -1)"
              id="minus-btn-{{this.cartProduct._id}}"
            >-</button>
          </td>
          <td>{{currency this.cartProduct.price}}</td>
          <td><a
              href=""
              onclick="deleteProduct('{{this._id}}','{{this.cartProduct._id}}')"
              class="btn btn-danger"
            >Remove</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{!-- <h1>{{user}}</h1> --}}
  {{!-- <h1>{{user._id}}</h1> --}}
  {{!-- <h1>{{user.user._id}}</h1> --}}
  <hr />
  <div class="d-flex flex-column float-end">
    <h3>TOTAL: <span id="total">{{currency total}}</span></h3>
    <a href="/place-order" class="btn btn-success">Place Order</a>
  </div>
</section>

<script src="/javascripts/cart.js"></script>